@inherits LayoutComponentBase


<Header ExpandMenu="ExpandMenu"/>


<div class="main @(((BlockCompression) ? "block-compression" : ""))">
    <div class="container">
        @Body
    </div>
</div>

@code{
    public bool BlockCompression { get; set; }

    public void ExpandMenu(bool expand)
    {
        BlockCompression = expand;
    }

}