@page "/password/reset"

<AuthorizeView>
    <Authorized>
        <Redirect />
    </Authorized>
</AuthorizeView>

<div class="row mt-5">
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 m-auto mt-5 p-5 pb-1 boxshadow">
        <h4>Återställa lösenord</h4>
        <hr />
        <EditForm Model="Model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <!--Email-->
            <div class="form-group">
                <label id="name">Email</label>
                <InputText class="form-control" @bind-Value="@Model.Email" id="name" disabled="@Form.Disabled" />
                <ValidationMessage For="@(() => Model.Email)" />
            </div>

            <!--Buttons-->
            <Buttons />
        </EditForm>
        <hr />
        <div class="col-12 text-center">
            <a class="btn btn-link text-secondary text-decoration-none" href="/register">Skapa konto</a> |
            <a class="btn btn-link text-secondary text-decoration-none" href="/login">Logga in</a>
        </div>
    </div>
</div>
